name: Android CI

on:
  push:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Set up Android SDK
      uses: android-actions/setup-android@v2

    - name: Give permission to gradlew
      run: chmod +x ./gradlew

    - name: Clean Gradle
      run: ./gradlew clean

    - name: Build APK
      run: ./gradlew assembleDebug

#    - name: List APK output
#      run: ls -R app/build/outputs/apk/release/

    - name: Upload Debug APK (v4)
      uses: actions/upload-artifact@v4
      with:
        name: VCam
        path: app/build/outputs/apk/debug/app-debug*.apk
        if-no-files-found: error  # Optional, fail if file not found
        overwrite: true           # Important for v4